# cycle data set 

## Data set: bike stats

## Name : Yousef Obeidat

## Date: 15 NOV 2021

In [5]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
station = pd.read_csv('station.csv')
trip = pd.read_csv('trip.csv',error_bad_lines=False)
weather = pd.read_csv('weather.csv')

/home/yousef/.cache/pypoetry/virtualenvs/vg-stats-W_7ahZh2-py3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

In [ ]:
station.keys()

Index(['station_id', 'name', 'lat', 'long', 'install_date',
       'install_dockcount', 'modification_date', 'current_dockcount',
       'decommission_date'],
      dtype='object')

trip.keys()

In [ ]:
weather.keys()

Index(['Date', 'Max_Temperature_F', 'Mean_Temperature_F', 'Min_TemperatureF',
       'Max_Dew_Point_F', 'MeanDew_Point_F', 'Min_Dewpoint_F', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_Pressure_In',
       'Mean_Sea_Level_Pressure_In', 'Min_Sea_Level_Pressure_In',
       'Max_Visibility_Miles', 'Mean_Visibility_Miles', 'Min_Visibility_Miles',
       'Max_Wind_Speed_MPH', 'Mean_Wind_Speed_MPH', 'Max_Gust_Speed_MPH',
       'Precipitation_In', 'Events'],
      dtype='object')

# What is the average trip duration for a borrowed bicycle ?

In [ ]:
trip_average = trip['tripduration']
trip_average.mean()

1178.2956753399776

# What’s the most common age of a bicycle-sharer ?

In [ ]:
age_sharer = trip['birthyear'].mode()
current_year = 2021 
age_bicycle_sharer = round(current_year - age_sharer)
age_bicycle_sharer

0    34.0
dtype: float64

# Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [ ]:
def month(date):
    return int(date.split('/')[0])
weather['Month'] = weather['Date']
weather['Month'].apply(month)

precipitation = weather.groupby('Month')['Precipitation_In']
print('Mean /', precipitation.mean())
print('Median /', precipitation.median())

Mean / Month
1/1/2015     0.00
1/1/2016     0.00
1/10/2015    0.18
1/10/2016    0.00
1/11/2015    0.06
             ...
9/5/2015     0.06
9/6/2015     0.19
9/7/2015     0.00
9/8/2015     0.00
9/9/2015     0.00
Name: Precipitation_In, Length: 689, dtype: float64
Median / Month
1/1/2015     0.00
1/1/2016     0.00
1/10/2015    0.18
1/10/2016    0.00
1/11/2015    0.06
             ...
9/5/2015     0.06
9/6/2015     0.19
9/7/2015     0.00
9/8/2015     0.00
9/9/2015     0.00
Name: Precipitation_In, Length: 689, dtype: float64

# What’s the average number of bikes at a given bike station ?

In [ ]:
average_bike_station = station.current_dockcount
average_bike_station.mean()

16.517241379310345

# When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes ? How do you know ?

In [ ]:
modified_station = station[['modification_date','install_dockcount','current_dockcount']]
modified_station.dropna()

   modification_date  install_dockcount  current_dockcount
7          11/9/2015                 20                 18
10          8/9/2016                 16                  0
12         2/24/2015                 18                 20
17         2/24/2015                 28                 26
22         3/24/2015                 30                 24
23         3/27/2015                 12                 16
26         3/18/2016                 16                  0
31         2/24/2015                 18                 20
35         3/13/2015                 12                 20
37         2/23/2015                 18                 16
38         11/2/2015                 20                  0
39          3/4/2015                 12                 16
46        10/29/2015                 16                  0
47         2/20/2015                 12                 14
48         2/20/2015                 18                 16
49         2/20/2015                 12                 14
50         2/20/2015                 20                 14

# What is the total number of current bikes in stations ?

In [ ]:
total_number =  station['current_dockcount']
total_number.sum()

958

# What is the avgarge of minimum tempreture ?

In [ ]:
minimum_tempreture = weather['Min_TemperatureF']
minimum_tempreture.median()

50.0

# What is the avgarge of maximum tempreture ?

In [ ]:
maximum_tempreture = weather['Max_Temperature_F']
maximum_tempreture.median()

63.0

# What is the station names ?

In [ ]:
station_name = station['name']
station_name.mode()

0                                12th Ave & E Denny Way
1                                12th Ave & E Mercer St
2                               12th Ave & E Yesler Way
3                             12th Ave & NE Campus Pkwy
4                              15th Ave E & E Thomas St
5                              15th Ave NE & NE 40th St
6                                   1st Ave & Marion St
7                                2nd Ave & Blanchard St
8                                     2nd Ave & Pine St
9                                   2nd Ave & Spring St
10                                    2nd Ave & Vine St
11                                   3rd Ave & Broad St
12                               6th Ave & Blanchard St
13                                6th Ave S & S King St
14                                   7th Ave & Union St
15                                9th Ave N & Mercer St
16                             Bellevue Ave & E Pine St
17                             Broadway and E Denny Way
18    Burke Museum / E Stevens Way NE & Memorial Way NE
19    Burke-Gilman Trail / NE Blakeley St & 24th Ave NE
20               Cal Anderson Park / 11th Ave & Pine St
21    Children's Hospital / Sandpoint Way NE & 40th ...
22                       City Hall / 4th Ave & James St
23                               Dexter Ave & Denny Way
24                              Dexter Ave N & Aloha St
25                         E Blaine St & Fairview Ave E
26                       E Harrison St & Broadway Ave E
27                                 E Pine St & 16th Ave
28                        Eastlake Ave E & E Allison St
29    Fred Hutchinson Cancer Research Center / Fairv...
30            Frye Art Museum / Terry Ave & Columbia St
31                              Harvard Ave & E Pine St
32                  Key Arena / 1st Ave N & Harrison St
33    King Street Station Plaza / 2nd Ave Extension ...
34            Lake Union Park / Valley St & Boren Ave N
35                                Mercer St & 9th Ave N
36                       NE 42nd St & University Way NE
37                             NE 47th St & 12th Ave NE
38                      NE Pacific St/UW Medical Center
39    Occidental Park / Occidental Ave S & S Washing...
40                        PATH / 9th Ave & Westlake Ave
41                      Pier 66 / Alaskan Way & Bell St
42                      Pier 69 / Alaskan Way & Clay St
43                                    Pine St & 9th Ave
44                           REI / Yale Ave N & John St
45                       Republican St & Westlake Ave N
46    Seattle Aquarium / Alaskan Way S & Elliott Bay...
47        Seattle University / E Columbia St & 12th Ave
48                             Summit Ave & E Denny Way
49                       Summit Ave E & E Republican St
50                               Terry Ave & Stewart St
51                                Thomas St & 5th Ave N
52    UW Engineering Library / E Stevens Way NE & Je...
53                    UW Intramural Activities Building
54    UW Magnuson Health Sciences Center Rotunda / C...
55                         UW McCarty Hall / Whitman Ct
56                                   Union St & 4th Ave
57                               Westlake Ave & 6th Ave
dtype: object

In [ ]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

        assert_equal(trip_average, None)
        assert_equal(age_bicycle_sharer, None)
        assert_equal(precipitation.mean, None)
        assert_equal(precipitation.median, None)
        assert_equal(average_bike_station, None)
        assert_equal(modified_station, None)
        assert_equal(total_number, None)
        assert_equal(minimum_tempreture, None)    

    print("Success!!!")

test()

Success!!!